.container{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
#counter{
 
   font-size: 50px;
}
#plus-btn{
    font-size: 24px;
    margin: 4px;
    padding: 10px 20px;
}
#minus-btn{
    font-size: 24px;
    margin: 4px;
    padding: 10px 20px;
}

button:disabled{
    opacity: o,5;
    cursor: not-allowed;
}